# EXTINCTION++ RSS - À mettre dans Railway > Variables

# OBLIGATOIRE
DISCORD_TOKEN=COLLE_TON_TOKEN_DISCORD
TOKEN=COLLE_TON_TOKEN_DISCORD
CLIENT_ID=COLLE_APPLICATION_ID_DISCORD

# CONSEILLÉ
GUILD_ID=COLLE_ID_DE_TON_DISCORD
DASHBOARD_URL=https://TON-DOMAINE.up.railway.app
SHOP_URL=https://TON-DOMAINE.up.railway.app/shop

# OPTIONNEL
NITRADO_TOKEN=COLLE_TOKEN_NITRADO
CLIENT_SECRET=COLLE_CLIENT_SECRET_DISCORD_SI_OAUTH
OWNER_ID=TON_ID_DISCORD
ADMIN_ROLE_ID=ID_ROLE_ADMIN_OPTIONNEL
NODE_ENV=production
