NEXT_PUBLIC_SITE_NAME=Extinction++ RSS
BOT_DATABASE_PATH=../shared/database.json
NEXTAUTH_URL=http://localhost:3000
SECRET_KEY=change_this_long_random_secret_same_on_bot_and_dashboard
SESSION_SECRET=change_this_long_random_secret_same_on_bot_and_dashboard
DASHBOARD_ADMIN_KEY=change_this_if_you_add_private_api_routes
